@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-weight: 200;
  letter-spacing: 0.1rem;
  // color: #565656;
}

body {
  font-family: "Roboto", sans-serif;
}

#root{
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100%;
  .main {
    height: calc(100% - 140px);
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}