.post-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__title {
  }
  &__file-box {
    display: flex;
    label {
      width: 150px;
      height: 100px;
      margin: 5px;
      border-radius: 5px;
      border: dotted 1px #4e4e4e;
      background-color: #6b6b6b8f;
      display: flex;
      justify-content: center;
      align-items: center;
      .MuiSvgIcon-root {
        font-size: 30px;
        color: #3c3c3cfa;
      }
      input[type='file'] {
        display: none;
      }
    }
  }
  &__input-box {
    width: 300px;
    text-align: center;
    input[type='text'] {
      width: 100%;
      background-color: #0000;
      border: none;
      border-bottom: 1px solid #4e4e4e;
      outline: none;
    }
  }
  &__submit {
    margin-top: 30px;
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #d7d8d8;
  }
}
// スマホ用メディアクエリ
@media screen and (max-width: 767px) {
  .post-form {
    &__file-box {
      display: flex;
      label {
        width: 110px;
        height: 80px;
      }
    }
    &__input-box {
      width: 200px;
      text-align: center;
    }
    &__submit {
      width: 200px;
    }
  }
}