.footer {
  width: 100%;
  height: 100px;
  background-color: #f0f3f4;
  box-shadow: 0  0 3px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  &__github {
    a {
      color: black;
    }
  }
  &__author {
    margin-left: 5px;
  }
}